<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script>
    function changeStatus() {
        var status = document.getElementById("order_drop");
        if (status.value == "Select") {

            document.getElementById("age_drop_show").style.display = "none";
            document.getElementById("sex_drop_show").style.display = "none";
            document.getElementById("total_population_show").style.display = "block";

        } else if (status.value == "Age Range") {

            document.getElementById("age_drop_show").style.display = "block";
            document.getElementById("sex_drop_show").style.display = "none";
            document.getElementById("total_population_show").style.display = "block";
            document.getElementById("default_drop_show").style.display = "none";


        } else if (status.value == "Sex") {

            document.getElementById("age_drop_show").style.display = "none";
            document.getElementById("sex_drop_show").style.display = "block";
            document.getElementById("default_drop_show").style.display = "block";
            document.getElementById("default_drop_show").style.display = "none";


        } else if (status.value == "Total Population") {

            document.getElementById("age_drop_show").style.display = "none";
            document.getElementById("default_drop_show").style.display = "none";
            document.getElementById("sex_drop_show").style.display = "none";
            document.getElementById("total_population_show").style.display = "block";


        }
    }

    function exclamationMark() {
        var state = document.getElementById("state_drop")
        if (state.value != "") {
            document.getElementById("state_drop_exclamation").style.display = "none";
        }

        var lga = document.getElementById("status_drop")
        if (lga.value != "") {
            document.getElementById("status_drop_exclamation").style.display = "none";
        }

        var status = document.getElementById("year_drop")
        if (status.value != "") {
            document.getElementById("year_drop_exclamation").style.display = "none";
        }

        var year = document.getElementById("year_drop")
        if (year.value != "") {
            document.getElementById("year_drop_exclamation").style.display = "none";
        }

        var prop = document.getElementById("order_drop")
        if (prop.value != "") {
            document.getElementById("order_drop_exclamation").style.display = "none";
        }

        var age = document.getElementById("age_drop")
        if (age.value != "") {
            document.getElementById("age_drop_exclamation").style.display = "none";
        }

        var order = document.getElementById("orderBy_drop");
        if (order.value != "") {
            document.getElementById("orderBy_drop_exclamation").style.visibility = "hidden";
        }

        var order = document.getElementById("sex_drop");
        if (order.value != "") {
            document.getElementById("sex_drop_exclamation").style.visibility = "hidden";
        }

    }
</script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Subtask 2.1</title>
    <link rel='stylesheet' type='text/css' href='common.css' />
    <link rel='stylesheet' type='text/css' href='subtask21.css' />
</head>

<body>
    <div class='header'>
        <h1>
            <a href='http://localhost:7001'>
                <img src='FinalLogo.png' class='top-image' alt='logo' height='150'>
            </a>
        </h1>
    </div>
    <div class='topnav'>
        <a href='/'><img src='home.png' height='14'>&ensp;Home</a>
        <a href='mission.html'>Our Mission</a>
        <div class="topnav-right">
            <a href='page6.html'>Change in Homelessness Over Time</a>
            <a href='page5.html'>Comparing Homelessness to Other Factors</a>
            <a href='page4.html'>Focused View on LGA</a>
            <a href='page3.html'>Relative Proportion of Homelessness by LGAs</a>
        </div>
    </div>

    <div class='subtaskheader'>
        <h1 class='subpageheading'><span>Relative Proportion of Homelessness <br> by LGAs</span></h1>
    </div>
    <br>
    <br>
    <div class='content'>
        <div style="float:left; margin-bottom: 1.5%;" class="card-select">
            <form action="/page3.html" method="post">
                <div class="select-box">
                    <!-- <label style="text-align:right; color: red;" id="state_warning">!</label> -->
                    <select id='state_drop' name='state_drop' onchange="exclamationMark()">
                        <option value="" disabled selected>Select State</option>
                        <option th:each="states : ${state}" th:text="${states}" th:value="${states}"></option>
                    </select>
                    <label id="state_drop_exclamation" for="state_drop" class="exclamation">!</label>
                </div>
                <div class='select-box'>
                    <select id='status_drop' name='status_drop' onchange="exclamationMark()">
                        <option value="" disabled selected>Select Status</option>
                        <option th:each="status : ${status}" th:text="${status}" th:value="${status}"></option>
                    </select>
                    <label id="status_drop_exclamation" for="status_drop" class="exclamation">!</label>
                    <div id="total_population_show" style="display : block; margin-left: 0px;" class="select-box">
                        <select id='year_drop' name='year_drop' onchange="exclamationMark()">
                            <option value="" disabled selected>Select Year</option>
                            <option th:each="years : ${year}" th:text="${years}" th:value="${years}"></option>
                        </select>
                        <label id="year_drop_exclamation" for="year_drop" class="exclamation">!</label>
                    </div>
                </div>
        </div>
        <div style="float:left; clear:left;" class="card-select">
            <div class="select-box">
                <select id='order_drop' name='order_drop' onchange="changeStatus(); exclamationMark()">
                    <option value="" disabled selected>Select Order By</option>
                    <option th:each="order : ${order}" th:text="${order}" th:value="${order}"></option>
                </select>
                <label id="order_drop_exclamation" for="order_drop" class="exclamation">!</label>

                <div id="default_drop_show" style="display : block; margin-left: 0px;" class="select-box">
                    <select id='default_drop' name='default_drop'>
                        <option value="" disabled selected>Select The Order</option>
                    </select>
                <label id="default_drop_exclamation" for="default_drop" class="exclamation">!</label>
                </div>

                <div id="age_drop_show" style="display : none; margin-left: 0px;" class="select-box">
                    <select id='age_drop' name='age_drop' onchange="exclamationMark()">
                        <option value="" disabled selected>Select Age</option>
                        <option th:each="age : ${age}" th:text="${age}" th:value="${age}"></option>
                    </select>
                <label id="age_drop_exclamation" for="age_drop" class="exclamation">!</label>
                </div>

                <div id="sex_drop_show" style="display : none; margin-left: 0px;" class="select-box">
                    <select id='sex_drop' name='sex_drop' onchange="exclamationMark()">
                        <option value="" disabled selected>Select Sex</option>
                        <option th:each="sex : ${sex}" th:text="${sex}" th:value="${sex}"></option>
                    </select>
                <label id="sex_drop_exclamation" for="sex_drop" class="exclamation">!</label>
                </div>
            </div>
            <div class="select-box">
                <select id='orderBy_drop' name='orderBy_drop' onchange="exclamationMark()">
                    <option value="" disabled selected>Select Order From</option>
                    <option th:each="order : ${order_by}" th:text="${order}" th:value="${order}"></option>
                </select>
                <label id="orderBy_drop_exclamation" for="orderBy_drop" class="exclamation">!</label>

                <button type='submit' class='btn btn-primary' style="margin-top: 10px;">Submit</button>
            </div>
        </div>
        </form>

        <div class='card-result-text'>
            <h2 style="color: #49423a;">Showing Results For</h2>
            <h4 th:text="${show_state}"></h4>
            <h4 th:text="${show_status}"></h4>
            <h4 th:text="${show_orderBy}"></h4>
            <h4 th:text="${show_year}"></h4>
            <h4 th:text="${show_order}"></h4>
        </div>
        <div>
            <div class="table-div">
                <table id="result_table" class="table-result left" style="width: 98%;">
                    <tr>
                        <th>LGA Name</th>
                        <th>Sex</th>
                        <th>Age Range</th>
                        <th>Status</th>
                        <th>Population</th>
                        <th>Proportion</th>
                    </tr>
                    <tr th:each="results : ${result}">
                        <td th:text="${results.lgaName}"></td>
                        <td th:text="${results.sex}"></td>
                        <td th:text="${results.ageGroup}"></td>
                        <td th:text="${results.status}"></td>
                        <td th:text="${results.count}"></td>
                        <td th:text="${results.proportion} + '%'"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
        <div class='footer'>
            <div class=footercont>
                <img src='footerlogo.png' height= 75px>
                <p class=footertext> Made with &hearts; by Afif & Arsa. </p>
                <p class=footertext> Copyright &copy; 2022 Homeless Lives Matter, All Rights Reserved.</p>
                <p class=footertext> Powered by Javalin. </p>
            </div>
        </div>
</body>

</html>